

.recordname{
  display: flex;
      }
.recordemail{
  display: flex;
        }
.recordna{
 display: flex;
          }
.div11{
  padding: 20px;
}
.logout{
  display: flex;
   }
.div12{
    padding: 20px;
  }
.profile{
  margin: 20px;
}