.accuseid{
    display: flex;
    padding: 10px;
}
.studname{
    display: flex;
    padding: 10px;
}
.datetimesch{
    display: flex;
    padding: 25px;
}
.div5{
    padding: 10px;
}
.div4{
    padding: 1px;
}
.duratime{
    display:flex;
    padding: 10px;
}
.judge34{
    display:flex;
    padding: 10px;
}
.judge5{
    
    padding: 10px;
}
.schedulebutton{
    padding: 10px;
}
.div6{
    padding: 10px;
}
