.tips{
    display: flex;
    padding-top: 60px;
   /* padding-left: 250px;*/
    
}

.tipstwo{
    display: flex;
    padding-top: 20px;
    /*padding-left: 250px;*/
}
.tipsthree{
    display: flex;
    padding-top: 20px;
    /*padding-left: 250px;*/
}
.tipsfour{
    display: flex;
    padding-top: 20px;
    /*padding-left: 250px;*/
}